{% extends 'main/base.html' %}
{% block content %}
<div class="search_products">
    <div class="first_product">
        <img
            class="first_product_image"
            src={{results.0.image_url}}
        />
        <div class="text-center-first-product">
            {{results.0.name}}
        </div>
    </div>
    <div class="container">
        {% for result in results %}
            {% if not forloop.first %}
                <div class="card" style="width: 30%; height: 400px;">
                    <img
                        class="card-img-top" style="width: 233px; height: 200px;"
                        src={{result.image_url}}>
                    <div class="card-body">
                        <h4 class="card-title">{{ result.name }}</h4>
                        <p class="card-text">Nutriscore: {{ result.nutriscore }}</p>
                        <button type="button" class="btn btn-warning"><i class="fa fa-floppy-o" aria-hidden="true">
                            </i> Sauvegarder</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
